/** Columns
- CSS Snippet made by Rikiub: https://github.com/Rikiub/
- Based on "Obsidian Columns" plugin by tnichols217: https://github.com/tnichols217/obsidian-columns/blob/main/release/styles.css
**/

:root {
	--column-width: 13.5em;
	--row-width: 20em;

	--grid-gap: 1em;
	--grid-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
	--callout-float-margin: 2em;
	--callout-float-max-width: 50%;
}

.markdown-source-view,
.markdown-preview-view {
	/* Set page container */
	container-type: inline-size;
}

[data-callout-metadata~="center"]:is(.callout-title, .callout-content) {
	/* CENTER CALLOUT */
	text-align: center;
	justify-content: center;
}

:is(
		[data-callout="none"],
		[data-callout="blank"],
		[data-callout="row"],
		[data-callout^="column"]
	) {
	/* EMPTY CALLOUT */
	/* Custom callout type to remove style */

	&,
	> .callout-content {
		background: unset;
		padding: unset;
		border: unset;
		box-shadow: unset;
	}

	> .callout-title {
		display: none;
	}

	&.is-collapsible > .callout-title {
		display: flex;
		color: unset;

		/* Align with other callouts */
		margin: var(--callout-padding);
		margin-left: 0;
		margin-bottom: 0;

		.callout-icon {
			display: none;
		}
	}
}

[data-callout="row"].callout > .callout-content {
	/* Callouts as horizontal row with scroll bar */

	display: grid;
	grid-auto-columns: var(--row-width);
	grid-auto-flow: column;
	gap: var(--grid-gap);

	> .is-collapsed {
		/* Fix collapsed callouts */
		align-self: self-start;
	}

	> .callout {
		/* Remove margin */
		margin: 0;
	}
}

[data-callout^="column"].callout {
	/* Callouts side by side */

	/* Fixed columns */
	&[data-callout$="-1"] {
		--grid-columns: repeat(1, 1fr);
	}

	&[data-callout$="-2"] {
		--grid-columns: repeat(2, 1fr);

		> .callout-content {
			/* Enabled on mobile */
			display: grid;
		}
	}

	&[data-callout$="-3"] {
		--grid-columns: repeat(3, 1fr);
	}

	&[data-callout$="-4"] {
		--grid-columns: repeat(4, 1fr);
	}

	&[data-callout$="-5"] {
		--grid-columns: repeat(5, 1fr);
	}

	/* Base */
	> .callout-content {
		grid-template-columns: var(--grid-columns);
		gap: var(--grid-gap);

		@container (min-width: 460px) {
			display: grid;

			> .callout {
				/* Remove margin */
				margin: 0;

				&.is-collapsed {
					/* Fix collapsed callouts */
					align-self: self-start;
				}

				/* SPAN CONTROL */
				&[data-callout-metadata~="span-2"] {
					grid-column: span 2;
				}

				&[data-callout-metadata~="span-3"] {
					grid-column: span 3;
				}

				&[data-callout-metadata~="span-4"] {
					grid-column: span 4;
				}

				&[data-callout-metadata~="span-5"] {
					grid-column: span 5;
				}

				&[data-callout-metadata~="span-full"] {
					grid-column: 1 / -1;
				}
			}
		}
	}
}

@container (min-width: 460px) {
	[data-callout-metadata~="left"],
	[data-callout-metadata~="right"] {
		/* CALLOUTS FLOAT */

		width: min-content;
		min-width: 17em;
		max-width: var(--callout-float-max-width);
		margin-top: 0;

		&[data-callout-metadata~="left"] {
			float: left;
			margin-right: var(--callout-float-margin);
		}

		&[data-callout-metadata~="right"] {
			float: right;
			margin-left: var(--callout-float-margin);
		}
	}

	.list-columns .el-ul > .has-list-bullet {
		/* LIST COLUMNS */

		display: grid;
		grid-template-columns: var(--grid-columns);
		gap: var(--grid-gap);
	}
}
