:is(.markdown-source-view, .markdown-preview-view) .internal-embed {
	&[alt~="clean"],
	&[alt~="no-title"] {
		/* Remove header and filename */

		.embed-title,
		.mod-header + div {
			display: none;
		}
	}

	&[alt~="clean"] {
		/* Remove all */

		background: unset;
		padding: unset;
		border: unset;

		.markdown-embed-link {
			display: none;
		}
	}

	&[alt~="compact"] {
		padding-inline-start: 10px;
	}
}
