/** Wide Pages
- CSS Snippet made by Rikiub: https://github.com/Rikiub/

## Usage

In your note, write `wide` on `cssclasses` property.
**/

.wide {
	--file-line-width: 100%;
}

.wide-table .el-table > table {
	width: 100%;
	margin-inline: auto;
}
