/* @metadata
description: Give shapes to images.
author: Rikiub
version: 1.0.0
authorUrl: https://github.com/Rikiub
license: MIT
*/

/* Properties */
body {
	--image-align-max-width: 50%;
	--image-align-margin: 0.6em;
	
	--image-align-placeholder-icon: "⇆";
	--image-align-placeholder-color: var(--color-accent);
	--image-align-placeholder-color-active: var(--color-accent-2);
	
	--image-default-width: 340px;
	--image-banner-width-ratio: 3;
}

.markdown-source-view,
.markdown-preview-view {
	/* Full page container */
	container-type: inline-size;

	/** SHAPES */

	/* Portrait */
	img[alt*="portrait"] {
		object-fit: cover;
		aspect-ratio: 2 / 3;

		&:not([width]) {
			width: var(--image-default-width) !important;
		}
	}

	/* Square */
	img[alt*="square"] {
		object-fit: cover;
		aspect-ratio: 1;

		&:not([width]) {
			width: var(--image-default-width) !important;
		}
	}

	/* Circle */
	img[alt*="circle"] {
		border-radius: 100% !important;

		object-fit: cover;
		aspect-ratio: 1;

		&:not([width]) {
			width: var(--image-default-width) !important;
		}
	}

	/* Pill */
	img[alt*="pill"] {
		border-radius: 9999px !important;
		object-fit: cover;
		aspect-ratio: 2;

		&:not([width]) {
			width: var(--image-default-width) !important;
		}
	}

	/* Banner */
	img[alt*="banner"] {
		object-fit: cover;
		aspect-ratio: var(--image-banner-width-ratio) / 1;

		@container (min-width: 750px) {
			aspect-ratio: calc(var(--image-banner-width-ratio) + 0.5) / 1;
		}

		&:not([width]) {
			width: 100% !important;
		}
	}

	/** FOCUS */

	/* Cover */
	img[alt*="cover"] {
		object-fit: cover;
	}

	/* Focus */
	img[alt*="focus-right"] {
		object-position: right;
	}

	img[alt*="focus-left"] {
		object-position: left;
	}

	img[alt*="focus-top"] {
		object-position: top;
	}

	img[alt*="focus-bottom"] {
		object-position: bottom;
	}

	img[alt*="focus-top-right"] {
		object-position: top right;
	}

	img[alt*="focus-top-left"] {
		object-position: top left;
	}

	img[alt*="focus-bottom-right"] {
		object-position: bottom right;
	}

	img[alt*="focus-bottom-left"] {
		object-position: bottom left;
	}

	/** ALIGNMENT */

	/* Center */
	&.markdown-preview-view img[alt~="center"],
	&.markdown-source-view .image-embed:has(img[alt~="center"]) .image-wrapper {
		display: block;
		margin: auto;
	}

	&.markdown-source-view .image-embed:has(img[alt~="center"]) {
		width: 100%;
	}

	/* Left & Right */
	@container (min-width: 440px) {

		/* Clickleable Image */
		&.markdown-source-view .image-embed:has(img[alt~="left"], img[alt~="right"]) {
			position: relative;
			z-index: 1;
		}

		/* Float to Left */
		&.markdown-preview-view img[alt~="left"],
		&.markdown-source-view .image-embed:has(img[alt~="left"]) {
			float: left;
			max-width: var(--image-align-max-width);
			margin-right: var(--image-align-margin);
		}

		/* Float to Right */
		&.markdown-preview-view img[alt~="right"],
		&.markdown-source-view .image-embed:has(img[alt~="right"]) {
			float: right;
			max-width: var(--image-align-max-width);
			margin-left: var(--image-align-margin);
		}

		/* Ghost Placeholder for Live Preview Line */
		&.markdown-source-view {

			/* Left */
			.cm-line:has(img[alt~="left"]) {
				&::before {
					content: var(--image-align-placeholder-icon);
					color: var(--image-align-placeholder-color);
	
					/* Prevents the cursor from getting stuck on the placeholder text */
					user-select: none;
					pointer-events: none;
				}

				/* Highlight the placeholder text when the user's cursor is actively on that line */
				&.cm-active::before {
					color: var(--image-align-placeholder-color-active);
				}
			}

			/* Right */
			.cm-line:has(img[alt~="right"]) {
				&::after {
					content: var(--image-align-placeholder-icon);
					color: var(--image-align-placeholder-color);
	
					/* Prevents the cursor from getting stuck on the placeholder text */
					user-select: none;
					pointer-events: none;
				}

				/* Highlight the placeholder text when the user's cursor is actively on that line */
				&.cm-active::after {
					color: var(--image-align-placeholder-color-active);
				}
			}
		}
	}
}